*{
  font-family: 'Bebas Neue', cursive;
}

header, section{
  text-align:center;
  font-size:1.5em;
}
a{
  text-decoration:none;
  font-size: 1.5em;
  color:black;
}

a:after {
  content: ' »';
  opacity: 0;  
  transition: 0.2s;
}

a:hover{
  font-size:1.55em;
  transition:0.2s;
}

a:hover:after {
  opacity: 1;
  right: 10px;
}

input{
  font-size:1.3em;
}

img{
   width:230px;
  border-radius: 4px;
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
}
li{
 list-style:none;
}